venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.env
test/inference_model/
test/new_inference_model/
test/inference_model_old/
dataset_combined/
dataset/
*.jpg
*.png
*.pdf
*.ttf
*otf
*.zip